.dnt1{
    background-image: linear-gradient(to top,white,rgba(0, 0, 0, 0.096));
}

.dnt2{
    background-image: linear-gradient(to top,black,white);
}

.fnt1{
    font-size: 50px;
    font-weight: 700;
}

.bk1{
    width:900px;

}

@media(max-width:750px){
    .bk1{
    width:400px;

    }

    .cname{
        display: none;
    }

    .cname1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media(max-width:430px){
    html,css{
        overflow-x: hidden;
    }
}
